@import 'variables';
@import 'knacss';

footer {
	@extend .txtcenter;
	font-style: italic;
}

table td {
	border-top: 1px solid $gray-200;
	padding: 1em 0;
}

.links_admin {
	@extend [class*="col-12"];
	min-height: 300px;
}

.fullwidth{
	width: 100%;
}

.container {
	margin: auto;
	@media (min-width: $small) {max-width: 540px;}
	@media (min-width: $medium) {max-width: 720px;}
	@media (min-width: $large) {max-width: 960px;}
	@media (min-width: $extra-large) {max-width: 1140px;}
}

[class*="btn--"], [type="text"] {
	border-radius: 0.25rem;
}

.generalButtons button {
	@extend .btn--big;
	@extend .btn--block;
	margin-bottom: .5em;
	
	&:first-child {
		margin-top: .5em;
	}
}

.record [type="text"], [type="password"] {
	box-shadow: none;
	border-bottom: 1px dashed $gray-600;
}
